#root {
  max-width: 1280px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body {
  background-color: #fff;
}

/* Login */

#firebaseui-auth-container {
  margin-top: 24px;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

#firebaseui-auth-container>div {
  border-radius: 8px;
}

.container {
  padding: 2rem;
}

.container h1, .container p {
  color: #333;
}

.container h1 {
  line-height: 3rem;
}

.navbar {
  display: flex;
  justify-content: end;
  padding: 8px;
}

.navbar button {
  background-color: transparent !important;
  color: #333;
}

.hidden {
  display: none !important;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#card {
  position: relative;
  padding: 24px;  
  border-radius: 8px;
  background-color: #454545;  
  margin: 24px;
}

#card, .btn-card {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

#card img {
  display: block;
  width: 180px;
  max-height: 200px;
  position: relative;
  margin: 0 auto;
}
.hp {
  margin: 0;
  width: 80px;
  background-color: #404060;
  color: #fff !important;
  text-align: center;
  padding: 8px 0;
  border-radius: 30px;
  margin-left: auto;
  font-weight: 400;
}

.poke-name {
  margin: 0;
  text-align: center;
  font-weight: 900;
}
.types {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}
.hp span,
.types span {
  font-size: 16px;
  font-weight: 900;
}
.types span {
  padding: 5px 20px;
  border-radius: 20px;
  color: #ffffff;
}
.stats {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

.stats h3 {
  margin: 0;
}

.stats p {
  font-weight: 900;
  margin: 0;
}
#btn {
  display: block;
  padding: 15px 60px;
  font-size: 18px;
  background-color: #101010;
  color: #ffffff;
  position: relative;
  margin: 30px auto;
  border: none;
  border-radius: 5px;
}

.btn {
  background-color: #404060;
}

.flex {
  display: flex;
}


.btn-card button {
  padding: 0;
  height: 200px;
  width: 120px;
  background-color: #404060;
  color: #fff;
  font-size: 24px;
  font-weight: 900;
  transition: 0.4s;
}

.btn-card button.playing {
  transform: scale(1.4);
}

.card-container {
  position: relative;  
}

.cards {
  margin: 24px;
  gap: 8px;
  justify-content: center;
}

.win-msg,
.lose-msg {
  z-index: 100;
  background-color: #404060e0;
  border-radius: 8px;
  box-shadow: 0px 0px 29px rgba(0, 0, 0, 0.4);
  color: #ffffff;
  padding: 8px 16px;
  font-size: 24px;
  position: absolute;
  width: 72%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner {
  border: 16px solid rgba(0, 0, 0, 0.1);
  border-left-color: #404060;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 1s linear infinite;
  margin: auto;
  margin-top: 180px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Define a CSS animation for the blur effect */
@keyframes blur-effect {
  0% { filter: blur(0px); }
  100% { filter: blur(8px); }
}

.swiper-slide {
  transition: filter 0.3s ease; /* Ensure smooth transition */
}

.swiper-slide.blur {
  animation: blur-effect 0.3s ease;
}

@media (min-width: 500px) {
  #card,
  .btn-card {
    max-width: 300px;
    margin: auto;
  }
}
